* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
    padding-left: 30px;;
}

p {
    padding-left: 30px;;
}

html {
  font-size: 62.5%;
  font-family: Arial, sans-serif;
}

.custom-scroll {
  &::-webkit-scrollbar {
    width: 8px;
  }
  
  &::-webkit-scrollbar-track {
    background: transparent;
  }
  
  &::-webkit-scrollbar-thumb {
    background: #333;
  }
}

#root {
    width: 100%;
    background: #fff;
    min-height: 100vh;
    display: flex;
    justify-content: center;
}

 .container {
  width: 98%;
  height: 100vh;
  padding: 1rem;
  display: flex;
}

.addSection {
  width: 25%;
  margin: 0 auto;
}

 .grid {
    width: 100%;
    height: 100%;
    background: #fff;
    overflow-y: scroll;
    display:flex;
    flex-direction: column;
    flex: 1;
  }

 

  .main {
    grid-area: main;
    width: 100%;
    padding: 1rem;
    border: 1px solid #cdcdcd;
    font-size: 1.4rem;
    font-weight: bold;
    text-transform: uppercase;

  }
  .main-layout {
  
  }

div#root div.container > main.main-layout section > .container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.grid-responsive {
    @media (min-width: 768px) {
      
    }
    
    @media (min-width: 1024px) {
    }
    
  }