.day-with-booking {
  background-color: red;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}